.list-item-wrap {
  flex-basis: 401px;
  flex-shrink: 0;
  height: 100vh;

  overflow-y: scroll;
  }

.list-item-wrap::-webkit-scrollbar-track
{
  /*width: 22px;*/
	background-color: #000;
}

.list-item-wrap::-webkit-scrollbar
{
	background-color: #000;
}

.list-item-wrap::-webkit-scrollbar-thumb
{
	background-color: #fff;
  box-sizing: border-box;
  border: 4px solid black;
}

  .list-item {
    width: 384px;
    height: 100px;

    padding-top: 40px;
    padding-left: 26px;

    text-align: left;

    border: 8px solid #5c646d;

    box-sizing: border-box;
  }

  .list-item__active {
    background-color: #95f8c1;
  }
