.item-information {
  width: calc(100vw - 401px);

  box-sizing: border-box;

  text-align: left;

  padding-top: 51px;
  padding-left: 41px;
}

.item-information-title {
  margin: 0;
}

.item-information-title__hide {
  display: none;
}

.item-information-text {
  max-width: 755px;
}

.item-information-field {
  outline: none;
  border: none;
  display: block;
  font-size: 24px;
  color: black;
  }

.item-information-picture {
  width: 350px;
  height: 150px;
  margin-top: 27px;
  margin-bottom: 36px;
}
